.timlands-inputs {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px 20px;
    font-size: 13px;
    display: block;
    border-radius: 6px;
    outline: none;
    width: 100%;
    &:hover {
        border: 1px solid #ccc;
    }
    &:focus {
        border: 1px solid $primary;
    }
}
.timlands-form {
    padding: 12px 0;
    .label-block {
        font-size: 14px;
        color: #333;
        font-weight: 600;
        display: block;
        margin-bottom: 6px;
    }
    .timlands-input {

        display: block;
        width: 100%;
        background-color: #fff;
        padding: 10px 19px;
        font-size: 14px;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-weight: 500;
        outline: none;
        transition: all 0.3s;
        &::placeholder {
            color: #ddd;
        }
        &:hover {
            border: 1px solid #ccc;
        }
        &:focus {
            transition: all 0.3s;
            outline: none;
            border: 1px solid $primary;
            &::placeholder {
                color: #ccc;
            }
        }
        @keyframes formscale {
            0% {
                transform: scale(1.08);
            }
            100% {
                transform: scale(1);
            }
        }
        &.has-error {
            animation: formscale 0.4s;
            border: 1px solid rgb(240, 53, 53);
        }
    }
    .timlands-form-note {
        margin-top: 5px;
        padding: 6px 0;
        .text {
            font-size: 12px;
            color: #666;
            margin: 0;
            font-weight: 700;
        }
        &.form-note-error {
            .text {
                color: rgb(196, 61, 61);
            }
        }
    }
    @media (max-width: 500px) {
        margin: 20px 0;
    }
    &.sm {
        padding: 11px 0;
        .label-block {
            font-size: 13px;
        }
        .timlands-input {
            padding: 8px 17px;
            font-size: 13px;
            border-radius: 5px;
        }
        .timlands-form-note {
            .text {
                font-size: 11px;
            }
        }
    }
}