@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import 'variables';
body {
    background-color: #f5f5f5;
    font-family: 'Fredoka';
}
// Buttons Style 
 .terminal{
     font-family:"Source Code Pro",Monaco,"Courier New",monospace;
     font-weight:400;
     font-size:1.025rem;
     line-height:1.5rem;
     position:relative;
     margin:0 auto;
     color:#fff;
     -webkit-font-smoothing:antialiased;
     -moz-osx-font-smoothing:grayscale;
     text-rendering:optimizeLegibility;
     box-shadow: -7px 7px 25px rgba(0, 0, 0, 0.178);
     .phone-img {
         position: absolute;
         right: -180px;
         top: -80px;
     }
    }
    @media screen and (min-width:30rem){
        .terminal {
            font-size:1rem;
            line-height:1.8rem
        }
    }
    @media screen and (min-width:60.5rem){
        .terminal {
            max-width:60.5rem
        }
    }
    .terminal__task-bar{
        height:2rem;
        padding-left:.5rem;
        border-top-left-radius:.5rem;
        border-top-right-radius:.5rem;
        background-color:#efefef
    }
    @media screen and (max-width:30rem){
        .terminal__task-bar{
            padding-top:.5rem
        }
    }
    .terminal__window{
        height:18.5rem;
        padding:1.5rem; 
        border-bottom-right-radius:.5rem;
        border-bottom-left-radius:.5rem;
        background-color:#000
    }
    .terminal__window--highlight { 
        color: $primary;
    }
    .terminal__circle{
        position:relative;
        display:inline-block;
        width:.75rem;
        height:.75rem;
        margin-right:-.1875rem;
        border-radius:50%;
    }
    .terminal__circle--red{
        background-color:#fb574e
    }
    .terminal__circle--yellow {
        background-color:#fbbd2e
    }
    .terminal__circle--green{ 
        background-color:#51e05d
    }
    .terminal__prompt--checkout, .terminal__prompt--mail, .terminal__prompt--show-contact{
        opacity:0
    }
    .terminal__prompt--checkout{
        animation:show-checkout 16s infinite
    }
    .terminal__prompt--show-contact{
        animation:show-show-contact 16s infinite
    }
    .terminal__prompt--mail{
        animation:show-mail 16s infinite
    }
    .terminal__prompt--typing{position:relative}.terminal__prompt--typing .cover{position:absolute;z-index:1;top:0;right:0;display:inline-block;box-sizing:border-box;height:100%;background:#000;border-left:1px solid #fff}.terminal__prompt--typing .cover--gimme-dev{animation:typing-gimme-dev 16s steps(19,end) infinite}.terminal__prompt--typing .cover--show-contact{animation:typing-show-contact 16s steps(19,end) infinite}@keyframes typing-gimme-dev{0%{width:100%;opacity:1}12%{width:0}15%{opacity:1}16%{opacity:0}100%{opacity:0}}@keyframes typing-show-contact{0%,35%{width:100%}100%,47%{width:0}48%{opacity:1}49%{opacity:0}100%{opacity:0}}@keyframes show-checkout{0%,20%{opacity:0}100%,25%{opacity:1}}@keyframes show-mail{0%,55%{opacity:0}100%,60%{opacity:1}}@keyframes show-uploaded{0%,63%{opacity:0}100%,68%{opacity:1}}@keyframes show-show-contact{0%,28%{opacity:0}100%,32%{opacity:1}}a{text-decoration:none;color:inherit}a:active,a:focus,a:hover{color:#0091eb;text-decoration:underline}
.terminal__window_content {
    width: 250px;
}
.btn {
    outline: none;
    box-shadow: none;
    border-style: solid;
    font-weight: 600;
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &.butt-lg {
        font-size: 18px;
        padding: 9px 16px;
        border-width: 3px;
    }
    &.butt-white {
        background-color: #fff;
        color: #222;
        border-color: #fff;
        &:hover {
            background-color: darken(#fff, 15);
            color: lighten(#222, 5);
            border-color: darken(#fff, 15);
        }
        &:focus {
            background-color: darken(#fff, 26);
            color: lighten(#222, 7);
            border-color: darken(#fff, 26);
        }
    }
    &.butt-white-out {
        background-color: transparent;
        color: #fff;
        border-color: #fff;
        &:hover {
            background-color: darken(#fff, 15);
            color: lighten(#222, 5);
            border-color: darken(#fff, 15);
        }
        &:focus {
            background-color: darken(#fff, 26);
            color: lighten(#222, 7);
            border-color: darken(#fff, 26);
        }
    }
}

.fariza-navbar {
    position: relative;
    z-index: 100;
}
.header-content {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    left: 120px;
    .title {
        font-size: 50px;
        font-weight: 700;
        color: #fff;
        text-shadow: 2px 1px 7px rgba(0, 0, 0, 0.521);
        .fareza-text {
            background-color: rgb(255, 255, 255);
            padding: 5px 17px;
            display: inline-block;
            border-radius: 8px;
            color: $primary;
            text-shadow: none;
        }
    }
    .text {
        font-size: 30px;
        font-weight: 100;
        margin: 0;
        color: #fff;
        text-shadow: 2px 1px 7px rgba(0, 0, 0, 0.521);
    }
}

.area{
    position: relative;
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    background-size: cover;
    height: 91vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}